<p>principal-face works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sacale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="principal-face.component.css">
    <title>Document</title>
</head>
<body>
    <a  class="body-fond" href="#"><img src="assets/instartfonts_images/elementos/3.png" alt="">
    </a>
    <header class="header">
        <div class="container logo-nav-container" >
        <a  class="logo" href="principal-face.component.html"><img src="assets/instartfonts_images/4x250{.png" alt=""></a>
        <nav class="navigation">
            <ul>
                
                <li><a href="#about-us-title1">About us</a></li>
                <li><a href="#listar-productos">Categories</a></li>
                <button class="btn  "><li ><a href="principal-page"> log in</a></li></button>
               
 
        </ul>
             </nav>
        </div>
    </header>
   <main class="main" >
    
       <div class="container body-container" >
       
           <h1 class="title-body">Connect</h1>
           <h1 class="title-body">You Creativity</h1>
           <h1 class="parrafo-title">A space created to communicate the artist with people from
            all over the world with just one click.    
       </h1>
       </div>
       <br> <br>
       <br>
       <br>
       <br>
     <div class="container parrafo-about">
       <h3  id="about-us-title1" ><p class="about-us-title" >
           About us</p></h3>
       <p class="container about-us-p">INTRODUCCIÓN
           <br>
           <br>
        Este proyecto consiste en la creación de una plataforma virtual
             y red social de interacción intuitiva, la cual permite a los artistas 
             visibilizar su trabajo de forma efectiva y crear su propia comunidad de s
             eguidores que admiren su trabajo y puedan adquirirlo, mediante secciones de 
             xhibición y botones de compra.
             <br>
             <br>
             <br>
              SITUACIÓN PROBLEMA
              <br>
              <br>
              
        El arte en Colombia es uno de los campos con mayor número de géneros
             y también con un alto número de exponentes a nivel nacional e internacional. 
             La manera en la que actualmente se divulgan obras artísticas como la pintura,
              la escultura o el dibujo, estas en su mayoría se encuentran en algún museo o 
              galería de arte. También por la parte artística tenemos la música, la literatura, 
              la fotografía y el diseño digital. Este proyecto consiste en la creación de una 
              plataforma virtual y red social de interacción intuitiva, la cual permite a los 
              artistas visibilizar su trabajo de forma efectiva y crear su propia comunidad de 
              seguidores que admiren su trabajo y puedan adquirirlo, mediante secciones de 
              exhibición y botones de compra
              <br>
              <br>
              <br>
        JUSTIFICACIÓN
        <br>
        <br>
        Actualmente los artistas que se dedican a la pintura, dibujo o escultura requieren de que sus obras artísticas estén publicadas en algún museo o galería de arte, pero cuando no lo pueden realizar por ese medio requieren de alguna persona o empresa que les ayude a realizar la venta. Para lo musical, fotografía, literatura y diseño gráfico también existen algunas plataformas donde las personas pueden compartir su contenido y allí darse a conocer.
        La manera en la que actualmente se da difusión a nivel digital a las obras artísticas es a través de Instagram, allí los usuarios suben imágenes de sus obras artísticas con el fin de tener visibilidad y conseguir venderla si este es un punto de importancia para el artista. Aunque este medio da una respuesta a la problemática, no es de nicho, esta red social no es exclusivamente para esto, por esa razón se desea fusionar la versatilidad de una galería virtual con la interacción de una red social que permitan al artista exponer y comerciar sus obras. 
       </p>
    </div>
   </main>
  
   <footer class="footer"></footer>
   <div class="container"></div>
   
    
</body>
</html>