<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="acerca-de.component.css">
    
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container logo-nav-container" >
        <a  class="logo" href="principal-face.component.html"><img src="assets/instartfonts_images/4x250{.png" alt=""></a>
        <nav class="navigation">
            <ul>
                
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Categorias</a></li>
                <button class="btn btn-secondary "><li href="#">log in</li></button>
               
 
        </ul>
             </nav>
        </div>
    </header>
   <main class="main">
       <div class="container">
           <h1>Hola soy el titulo</h1>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, sint id nulla rem aut quam ducimus beatae quaerat dolorem perferendis, cupiditate hic libero, sequi natus aspernatur perspiciatis maxime voluptatem ratione?
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iusto voluptatem ad impedit voluptas. Tempore dicta sit consequatur mollitia repellendus quibusdam voluptate pariatur, repellat praesentium animi possimus cumque vitae totam.
           </p>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, sint id nulla rem aut quam ducimus beatae quaerat dolorem perferendis, cupiditate hic libero, sequi natus aspernatur perspiciatis maxime voluptatem ratione?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iusto voluptatem ad impedit voluptas. Tempore dicta sit consequatur mollitia repellendus quibusdam voluptate pariatur, repellat praesentium animi possimus cumque vitae totam.
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, sint id nulla rem aut quam ducimus beatae quaerat dolorem perferendis, cupiditate hic libero, sequi natus aspernatur perspiciatis maxime voluptatem ratione?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iusto voluptatem ad impedit voluptas. Tempore dicta sit consequatur mollitia repellendus quibusdam voluptate pariatur, repellat praesentium animi possimus cumque vitae totam.
        </p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, sint id nulla rem aut quam ducimus beatae quaerat dolorem perferendis, cupiditate hic libero, sequi natus aspernatur perspiciatis maxime voluptatem ratione?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iusto voluptatem ad impedit voluptas. Tempore dicta sit consequatur mollitia repellendus quibusdam voluptate pariatur, repellat praesentium animi possimus cumque vitae totam.
        </p>
       </div>
   </main>
   <footer class="footer"></footer>
   <div class="container"></div>
   <p>pagiina diseñada por jamkel</p>
  
    <button class="button" href="#"></button>  
</body>
</html>